.green-button{
    min-height: 3.8vh;
    /* min-width: 2.8vw; */
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16) !important;
    border: solid 0.5px #26a69a !important;
    background-color: #26a69a !important;
  }

  .green-button span{
    font-size: 1.7vh;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .green-button i{
    font-size: 2vh;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }